<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="30.2.4" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="30.2.4" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.GridCommon" version="30.2.4" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="30.2.4" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="30.2.4" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="30.2.4" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
</packages>